@import "../../global.scss";

.all {
  background: linear-gradient(0.1deg, $background-login, white);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-login {
  background: white;
  height: 100%;
  width: 100%;
  padding: 2rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.div-login {
  width: 500px;
  height: 500px;
}

.title-login {
  font-weight: 600;
  margin-bottom: 2rem;
  align-items: center;
  color: $primary-color;
  font-weight: bold;
  text-align: center;
}

.form-login {
  display: flex;
  flex-direction: column;

  .input-field {
    position: relative;
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;

    input::placeholder {
      background: linear-gradient(0.1deg, $background-login, white);
    }

    &:first-child {
      margin-bottom: 1.5rem;
    }

    .underline::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      bottom: -5px;
      left: 0;
      background: rgba(0, 0, 0, 0.2);
    }

    .underline::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      bottom: -5px;
      left: 0;
      background: linear-gradient(30deg, $primary-color, white);
      transform: scaleX(0);
      transition: all 0.3s ease-in-out;
      transform-origin: left;
    }
  }
}

.input-field input:focus ~ .underline::after {
  transform: scaleX(1);
}

.input-field input {
  outline: none;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.7);
  width: 100%;

  &::placeholder {
    color: rgba(0, 0, 0, 0.5);
    background-color: #e5f3ef;
  }
}

.input-login {
  margin-top: 2rem;
  padding: 0.4rem;
  width: 100%;
  background: lighten($primary-color, 10%);

  cursor: pointer;
  color: white;
  font-size: 0.9rem;
  font-weight: 300;
  border-radius: 4px;
  transition: all 0.3s ease;

  &:hover {
    letter-spacing: 0.5px;
    background: $primary-color;
  }
}

.error-field {
  color: rgb(199, 51, 51);
  font-size: 0.7rem;
}
