@import "../../global.scss";

.icons {
    color: $primary-color;
    .icon-play {
        cursor: pointer;
        margin-right: 10px;
    }
    .icon-pause {
        cursor: pointer;
        margin-right: 10px;
    }
    .icon-edit {
        cursor: pointer;
        margin-right: 10px;
    }
    .icon-trash {
        cursor: pointer;
        margin-right: 10px;
    }
    .icon-duplicate {
        cursor: pointer;
    }
}

.btn-default {
    background-color: $primary-color;
    border: 2px;
    border-radius: 10px;

    &:hover {
        background-color: $primary-color-dark;
        border: 0;
    }
    &:active {
        background-color: $primary-color-dark;
        border: 0;
    }
    &:focus {
        background-color: $primary-color-dark;
        border: 0;
    }
}

.content-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 50px;

    .title {
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: 2rem;
        color: $primary-color;
        margin: 0;
    }

    .title-layout {
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: 2rem;
        color: $primary-color;
        margin: 0;

        border: 0;
        outline-style: dotted;
        outline-color: $primary-color-dark;
        outline-width: 1px;

        &:focus {
            color: $primary-color-dark;
        }
    }
}

.table-default {
    margin-bottom: 40px;
    box-shadow: 0px 10px 10px 10px $primary-color-light;
    .tr-thead {
        color: $primary-color;
        text-align: center;
        background-color: $primary-color-light;
    }

    .tr-tbody {
        text-align: center;
        color: $font-table-color;
        &:hover {
            background-color: white;
        }
    }

    .dragging-true {
        color: $primary-color-light !important;
        border: 3px;
        border-style: dashed;
    }
}

.null-message {
    color: $primary-color;
    font-weight: bold;
}

.dropdown-item {
    &:hover {
        background-color: $primary-color-light;
    }
}
