@import "react-toastify/dist/ReactToastify.css";
@import "../../global.scss";

.Toastify__toast-body {
  white-space: pre-line;
}

.Toastify__toast {
  color: white;
  .Toastify__close-button {
    color: white;
  }
  .Toastify__progress-bar {
    background: rgba(255, 255, 255, 0.7);
  }

  &.alert-success {
    background-color: $success-color;
  }
  &.alert-warning {
    background-color: $warning-color;
  }
  &.alert-danger {
    background-color: $danger-color;
  }
  &.alert-info {
    background-color: $info-color;
  }
}
