@import "../../global.scss";

.btns-action {
    display: flex;
    align-items: center;
    justify-content: center;

    .btn-create {
        margin-right: 10px;
        width: 100%;

        background-color: $primary-color;
        border: 0;

        &:hover {
            background-color: $primary-color-dark;
            border: 0;
        }
        &:active {
            background-color: $primary-color-dark;
            border: 0;
        }
        &:focus {
            background-color: $primary-color-dark;
            border: 0;
        }
    }

    .btn-exit {
        width: 100%;
        background-color: $warning-color-light;
        &:hover {
            background-color: $warning-color;
        }
    }
}
.form-group {
    color: $font-table-color;
}

.modal-title {
    color: $font-table-color;
}
