@import "../../global.scss";

.blue-theme-nav {
    background-color: $primary-color;
    color: white !important;
}

.navbar-brand {
    color: white !important;
}

.nav-link {
    color: white !important;

    &:hover {
        font-weight: bold !important;
    }
}
