@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

$background-login: #e6ebf5;
$primary-color: #3860be;
$primary-color-light: #e6ebf5;
$primary-color-dark: #0a1a3c;
$font-table-color: #6c778b;

$success-color: $primary-color;
$warning-color-light: #ffe169;
$warning-color: #f1c40f;
$danger-color: #e74c3c;
$info-color: #3498db;
